@font-face {
  font-family: "iconfont"; /* Project id 3025133 */
  src: url('iconfont.woff2?t=1639716246800') format('woff2'),
  url('iconfont.woff?t=1639716246800') format('woff'),
  url('iconfont.ttf?t=1639716246800') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaodanzujian-biaoge:before {
  content: "\eb94";
}

.icon-xingzhuang-tupian:before {
  content: "\eb98";
}

.icon-xiayibu:before {
  content: "\ec09";
}

.icon-shangyibu:before {
  content: "\ec0a";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-quxiaolianjie:before {
  content: "\ec80";
}

.icon-wuxupailie:before {
  content: "\ec81";
}

.icon-juzhongduiqi:before {
  content: "\ec82";
}

.icon-yinyong:before {
  content: "\ec83";
}

.icon-youxupailie:before {
  content: "\ec84";
}

.icon-youduiqi:before {
  content: "\ec85";
}

.icon-zitidaima:before {
  content: "\ec86";
}

.icon-xiaolian:before {
  content: "\ec87";
}

.icon-zitijiacu:before {
  content: "\ec88";
}

.icon-zitishanchuxian:before {
  content: "\ec89";
}

.icon-zitishangbiao:before {
  content: "\ec8a";
}

.icon-zitibiaoti:before {
  content: "\ec8b";
}

.icon-zitixiahuaxian:before {
  content: "\ec8c";
}

.icon-zitixieti:before {
  content: "\ec8d";
}

.icon-zitiyanse:before {
  content: "\ec8e";
}

.icon-zuoduiqi:before {
  content: "\ec8f";
}

.icon-zitixiabiao:before {
  content: "\ec90";
}

.icon-zuoyouduiqi:before {
  content: "\ec91";
}

.icon-tianxie:before {
  content: "\ec92";
}

